@import '../../../styles/_colors.scss';

.cell{
  border: 1px solid $dark-grey;
  width: 100%;
  min-width: 10px;
  min-height: 20px;
  flex: auto;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img{
    max-width: 50%;
    max-height: 80px;
  }
}