@import '../../../styles/_colors.scss';

.board{
  overflow: auto;
  border: 1px solid $dark-grey;
  display: flex;
  flex-direction: column;
  padding: 2px;

  &-row{
    display: flex;
    flex: auto;
  }
}