// Colors (Based on Material Design color palettes)
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
$green: #66BB6A;
$red: #EF5350;
$blue: #42A5F5;
$yellow: #FFEE58;
$light-grey: #eceff1;
$dark-grey: #37474F;
$white: white;
$black: black;