@import '../../../styles/_colors.scss';
@import '../../../styles/_layout.scss';
@import '../../../styles/_fonts.scss';

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  overflow-y: auto;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  .logo{
    min-height: 90px;
    background-color: $dark-grey;
    color: $white;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
      width: 60px;  
    }

    h1{
      font-weight: 400;
      font-size: 1.8rem;
      font-family: 'Audiowide';
    }
  }

  .game-settings{
    height: 100%;
  }

  .more-actions{
    height: 200px;
    border-top: 1px solid $dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}