@import '../../../styles/_colors.scss';
@import '../../../styles/_layout.scss';
@import '../../../styles/_fonts.scss';

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  overflow-y: auto;
  background-color: $light-blue-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $header-height;
    background-color: $dark-grey;
    color: $white;

    img{
      width: 60px;  
    }

    h1{
      font-weight: 400;
      font-size: 1.8rem;
      font-family: 'Audiowide';
    }
  }

  .game-settings{
    height: 100%;
  }

  .more-actions{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-blue;

    .superman-container{
      height: 100px;
      position: relative;

      .superman-button{
        cursor: pointer;
        height: 80%;
        transition: height 0.2s ease;

        &:hover{
          height: 83%;
        }
      }

      .is-superman-mode{
        position: absolute;
        top: 45px;
        right: 0;
        font-weight: 500;
        font-size: 2rem;
        color: $dark-grey;
      }
    }
  }
}