@import '../../../styles/_colors.scss';

.input-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75px;

  .label{
    font-size: 1rem;
    font-weight: 300;
  }

  .input{
    border: 1px solid $grey;
    border-radius: 5px;
    background: $white;
    padding: 8px 5px;

    &:focus{
      outline: none;
      border-color: $blue;
    }
  }

  .error-text{
    color: $red;
    font-size: 0.8rem;
  }
}